.api-res__req-panel {
  border-bottom: 1px dashed #ddd;
}

.api-res__headers {
  display: inline-block;
  padding-left: 0;
  list-style: none;
}

.api-res__req-tabs {
  margin-bottom: 10px;
  li { cursor: pointer; }
}

.api-res-form__list {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  padding-left: 10px;
}

.api-res-form__assertions {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  list-style: none;

  i { margin-right: 5px; }
}

.api-res-form__assertion--success i { color: green; }
.api-res-form__assertion--fail i { color: red; }
.api-req-form__more-text { margin-right: 5px; }

.api-res__header-item-key {
  font-weight: bold;
  margin-right: 4px;
}
