.api-req-form__container {
  padding: 0;
  border-bottom: 1px dashed #ccc;

  .bootstrap-center-form {
    text-align: left;
    box-shadow: none;
    margin-bottom: 0;
  }
}

.api-req-form__title {
  margin-bottom: 20px;
}

.api-req-form__auth-check {
  margin-right: 5px !important;
}

.api-req-form__auth-form {
  height: 50px;
  margin-top: 15px;

  .checkbox { line-height: 34px }
  .form-group { margin: 0 5px; }
}

.api-req-form__form {
  border: none;
}

.api-req-form__send-icon {
  color: #fff;
  margin-right: 10px;
}

.api-req-form__url-group {
  display: flex;
  align-items: flex-start;
}

.api-req-form__url-control {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.api-req-form__remove-icon {
  font-size: 16px;
  color: gray;
}

.api-req-form__input {
  width: 250px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.api-res-form__label {
  color: gray;
  text-transform: uppercase;
  font-size: 14px;
}

.api-res-form__response {
  padding: 0 10px;
}

.api-req-form__textarea {
  margin-top: 15px;
}

.api-req-form__assertion-select {
  margin-right: 20px;
}

.api-req-form__form-inline {
  margin-top: 10px;
}

.api-res__res {
  background: #fff;
  border-color: #eee;
  font-size: 14px;
}

.api-req-form__btn-group {
  margin-right: 20px;
}

.form-group__label {
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: 0;
  color: #aaa;
  text-transform: uppercase;

  .devise-links {
    text-transform: capitalize;
    font-size: 0.9rem;
    margin-left: 10px;
  }
}

.form-group { margin-bottom: 0; }

.api-req-form__request-body {
  margin-left: 10px;
  color: #666;
}
